:root {
  --bgColor: #EEE;
  --borderColor: #CCC;
  --textColor: #444;
  --warningColor: #F00;
  --activeColor: #00F;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--textColor);
  font-size: 16px;
  line-height: 18px;
}

input {
  font-family: sans-serif;
  color: var(--textColor);
  font-size: 16px;
  line-height: 18px;
}
